.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ---------------------------- APP HEADER ---------------------------- */
.app__header {
  display: flex;
  border-bottom: 1px solid var(--neutral-300);
  padding: 0.5rem 2rem;

  align-items: center;
  justify-content: space-around;
}

.app__header .logo {
  width: 5rem;
}

.app__header .profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  color: var(--neutral-800);
}

.app__header .notification-icon {
  background-color: var(--purple-500);
  padding: 0.25rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease background-color;
}
.app__header .notification-icon:hover {
  background-color: var(--purple-600);
}

/* Header Notification Tooltip Behavior */
.notification__container {
  font-size: 0.75rem;
  background-color: var(--purple-500);
  border: 1px solid var(--purple-400);
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-menu);
}

.app__header .profile .photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--purple-800);
  padding: 0.25rem;
  border-radius: 100%;
  color: white;
  border: 3px solid var(--neutral-50);
  outline: 3px solid var(--neutral-300);
}

.app__header .profile .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.app__header .profile .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-600);
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.app__header .profile .icon:hover {
  background-color: var(--neutral-300);
}

/* Header User Menu Popover Behavior */
.user-menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-300);
  border-radius: 0.25rem;
  padding: 1rem 0;
  box-shadow: var(--shadow-menu);
}

.user-menu__container main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;
}
.user-menu__container .user-menu__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 0.5rem 1rem;
  width: 100%;
}

.user-menu__container footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1.125rem;
  padding-top: 1rem;
  border-top: 1px solid var(--neutral-300);
}
.user-menu__container footer * {
  color: var(--neutral-600);
  font-size: 0.75rem;
}
.user-menu__container footer a:hover {
  text-decoration: underline;
}

/* ---------------------------- APP ASIDE BAR ---------------------------- */
.app__aside-bar {
  grid-area: aside;
  width: 100%;
  height: 100%;
  background-color: var(--purple-500);
  border-right: 1px solid var(--neutral-300);
  box-shadow: var(--shadow-small);
  padding: 1rem;
}

.aside-bar__link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.aside-bar__link__icon {
  font-size: 1.25rem;
  color: var(--neutral-400);
}

.aside-bar__link__text {
  color: var(--neutral-400);
  font-weight: 500;
  font-size: 0.875rem;
}

.aside-bar__link:hover .aside-bar__link__icon,
.aside-bar__link:hover .aside-bar__link__text {
  color: var(--purple-500);
}

/* ---------------------------- APP MAIN ---------------------------- */
.app__main {
  display: grid;
  grid-template-areas:
    "aside header header header"
    "aside sidebar calendar user";
  grid-template-columns: 1fr 3fr 6fr 4fr;
  grid-template-rows: 1fr 8fr;
  gap: 2rem;
  height: 100%;
}

/* ----------- MAIN HEADER ----------- */
.main__header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--neutral-700);
}

.main__header .system-information {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--neutral-200);
  color: var(--neutral-400);
  font-weight: bold;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-small);
}
.main__header .system-information i {
  color: var(--neutral-500);
}

/* ----------- MAIN LEFT SIDEBAR (SCHEDULING INFORMATIONS) ----------- */

.main__sidebar__keys-in-use {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

.keys-in-use__title {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--neutral-600);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.keys-in-use__title input[type="checkbox"] {
  margin: 0.25rem;
}

.keys-in-use-lab__container.lab-list .keys-in-use__title:not(:first-of-type) {
  margin-top: 1rem;
}

.keys-in-use__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* tree view effect css */
.keys-in-use__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.5rem;
  width: 0.125rem;
  height: calc(100% - 0.5rem);
  background-color: var(--neutral-300);
}

.keys-in-use__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-left: 1.125rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--neutral-300);
  border-left: 2px solid var(--yellow-500);
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--neutral-100);
}
.keys-in-use__item.key-was-taken {
  border-left-color: var(--red-500);
}

.keys-in-use__item:last-child:before {
  height: 80%;
}

.keys-in-use__item span:nth-child(2) {
  font-weight: bold;
  color: var(--neutral-500);
}

.keys-in-use__item .info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--neutral-400);
}

.keys-in-use__item .info i {
  transform: translateY(1px);
}

.keys-in-use-lab__container.lab-maintenance-list {
  margin-top: 3rem;
}
.keys-in-use__nothing {
  padding-left: 0.75rem;
}

.key-maintenance {
  font-weight: bold;
  padding: 0.375rem 1rem;
  border-left: 2px solid var(--neutral-500);
  color: var(--neutral-500);
}
.list-is-blank {
  font-size: 0.875rem;
  color: var(--neutral-500);
}

/* ----------- MAIN CALENDAR APP ----------- */
.main__calendar-app {
  grid-area: calendar;
}

.calendar__container {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-100);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-med);
  height: 100%;
  max-height: 28rem;
}

/* calendar header */
.calendar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--purple-500);
  border-radius: 0.75rem 0.75rem 0 0;
}

.calendar__header__day-info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--opacity-w-200);
  padding: 0.25rem 0.5rem;
  color: white;
  border-radius: 0.5rem;
}

.calendar__header__day-info span {
  font-size: 0.875rem;
}

.calendar__header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.calendar__header__change-day-btns {
  display: flex;
}

.calendar__header__change-day-btns button,
.calendar__header__today-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  background-color: var(--opacity-w-200);
  border: none;
  color: white;
  transition: background-color 0.25s ease;
}

.calendar__header__change-day-btns button:hover,
.calendar__header__today-btn:hover {
  background-color: var(--purple-600);
}
.calendar__header__change-day-btns button:nth-child(1) {
  border-radius: 0.5rem 0 0 0.5rem;
}
.calendar__header__change-day-btns button:nth-child(2) {
  border-radius: 0 0.5rem 0.5rem 0;
}

.calendar__header__today-btn {
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
}

.calendar__widget {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 20rem;
  /* max-height: 24rem; */
  padding: 1rem;
}

/* Main Calendar Behavior */
#calendar {
  width: 100%;
  height: 100%;
}

#calendar .toastui-calendar-layout {
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  box-shadow: var(--shadow-small);
}

.toastui-calendar-panel.toastui-calendar-day-view-day-names {
  display: none !important;
}

.toastui-calendar-panel.toastui-calendar-week-view-day-names {
  overflow: hidden !important;
}
.calendar-event-weekday-name {
  height: min-content;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: baseline;
  gap: 0.125rem;
  overflow: hidden;
}
.calendar-event-weekday-name .week-dayNumber {
  font-size: 1.5rem;
}

.calendar-month-day-name {
  font-size: 1rem;
}

.toastui-calendar-popup-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed !important;
}

.key-calendar {
  color: white;
}

.toastui-calendar-see-more {
  border-radius: 0.25rem;
  box-shadow: var(--shadow-menu);
  min-height: calc(100% + 4rem);
  min-width: 40vw;
}
.toastui-calendar-month-more-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: white;
}
.toastui-calendar-weekday-event-dot {
  display: none !important;
}
.btn-close-more-modal {
  background-color: var(--purple-500);
  color: white;
  padding: 0.25rem 1rem;
  font-weight: bold;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-min);
}
.btn-close-more-modal:hover {
  background-color: var(--purple-600);
}

#date-today {
  position: relative;
  z-index: 1;
}

#date-today::before {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  background-color: var(--purple-500);
  border-radius: 100%;
  width: 1.75rem;
  height: 1.75rem;
  z-index: -1;
}

.toastui-calendar-see-more-container {
  width: 100% !important;
  max-width: 25rem;
}

.scheduling-month {
  display: none;
}

.toastui-calendar-weekday-event-block .scheduling-month {
  display: block;
}

/* ----------- MAIN RIGHT SIDEBAR (USER ACTIONS)  ----------- */

.main__sidebar__actions {
  grid-area: user;
}

.actions__list {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 0.5rem;
}

.actions__item {
  width: 100%;
  max-width: 32rem;
}

/* Accordion User Action Behavior */
.action-accordion__trigger,
.action-accordion__trigger > div {
  display: flex;
  align-items: center;
}

.action-accordion__trigger > div {
  gap: 0.5rem;
}

.action-accordion__trigger .text {
  font-size: 1rem;
  font-weight: bold;
}

.action-accordion__trigger .icon-arrow {
  transition: transform ease 0.2s;
}

.action-accordion__trigger {
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--neutral-600);
  padding: 0.625rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.accordion-active,
.action-accordion__trigger:hover {
  background-color: var(--neutral-200);
  color: var(--neutral-800);
}
.action-accordion__trigger.accordion-active .arrow {
  transform: rotate(180deg);
}
.action-accordion__trigger.accordion-active {
  background-color: var(--purple-500);
  color: white;
  border-radius: 0.5rem 0.5rem 0 0;
}

.action-accordion__panel {
  display: flex;
  /* Para desativar o funcionamento do accordion, comentar os códigos a seguir */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /* comentar até aqui */
}

.action-accordion__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-200);
  border-radius: 0 0 0.5rem 0.5rem;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group__label {
  color: var(--neutral-600);
  font-weight: bold;
  font-size: 0.875rem;
}

.input-date {
  position: relative;
  font-family: "Open-sans", sans-serif;
  color: var(--neutral-500);
  width: 100%;
  padding: 0.25rem 0.375rem;
  background-color: white;
  border: 2px solid var(--neutral-400);
  border-radius: 0.25rem;
  overflow: visible;
}
.input-date:hover,
.input-date:focus {
  color: var(--purple-500);
  border-color: var(--purple-500);
}

.input-date::-webkit-calendar-picker-indicator {
  position: absolute;
  opacity: 1;
  padding: 0.25rem 0.5rem;
  filter: invert(1);
  width: 1.25rem;
  height: 1.3rem;
  top: -0.125rem;
  right: -0.125rem;
  z-index: 2;
  cursor: pointer;
}

.input-date::after {
  position: absolute;
  display: block;
  content: "";
  background-color: var(--purple-500);
  top: -0.125rem;
  right: -0.125rem;
  border-radius: 0 0.25rem 0.25rem 0;
  width: 2.25rem;
  height: calc(100% + 0.25rem);
  z-index: 1;
}

.input-group__two-cols {
  display: flex;
  gap: 0.5rem;
}

.input-group__error-message {
  color: var(--red-600);
  font-size: 0.875rem;
  font-weight: bold;
}

.action-accordion__content__footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.accordion__checkbox__group {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 0.5rem;
}

/* Accordion Tooltip Behavior */
.accordion__footer__tooltip-container {
  font-size: 0.75rem;
  background-color: var(--neutral-500);
  border: 1px solid var(--neutral-400);
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-menu);
}

.accordion__footer__tooltip-trigger {
  transform: translateY(-0.25rem);
}

.accordion__footer__tooltip-trigger i {
  color: var(--neutral-500);
}
.accordion__footer__tooltip-trigger i:hover {
  color: var(--purple-500);
}

.accordion-btn {
  padding: 0.5rem 1rem;
  margin-left: auto;
}

.key__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.key__list__item {
  display: flex;
  align-items: center;
  background-color: var(--neutral-200);
  border: 1px solid var(--neutral-300);
  padding: 0.25rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.key__list__item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-500);
  color: white;
  border-radius: 100%;
  padding: 0.25rem;
  height: fit-content;
}
.key__list__item .icon.icon-red {
  background-color: var(--red-500);
}
.key__list__item .description {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.25rem;
}
.key__list__item .description p {
  font-weight: bold;
  color: var(--neutral-600);
  font-size: 0.875rem;
}

.key__list__item .description span {
  font-weight: 600;
  color: var(--neutral-500);
  font-size: 0.75rem;
}

.key__list__item__btns-list {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.key__list__item__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.25rem;
  border-radius: 0.375rem;
  color: white;
  margin-left: auto;
  box-shadow: var(--shadow-min);
}

.key__list__item__btn.btn-red {
  background-color: var(--red-500);
}
.key__list__item__btn.btn-red:hover {
  background-color: var(--red-600);
}

.key__list__item__btn .ph-trash {
  transform: translateY(1px);
}

.key__list__item__btn.btn-green {
  background-color: var(--green-500);
}
.key__list__item__btn.btn-green:hover {
  background-color: var(--green-600);
}
