:root {
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;

  --blue-50: #f0f9ff;
  --blue-100: #e0f2fe;
  --blue-200: #bae6fd;
  --blue-300: #7dd3fc;
  --blue-400: #38bdf8;
  --blue-500: #0ea5e9;
  --blue-600: #0284c7;
  --blue-700: #0369a1;
  --blue-800: #075985;
  --blue-900: #0c4a6e;

  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;

  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;

  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;

  --neutral-50: #fafafa;
  --neutral-100: #f4f4f5;
  --neutral-200: #e4e4e7;
  --neutral-300: #d4d4d8;
  --neutral-350: #c5c5c9;
  --neutral-400: #a1a1aa;
  --neutral-500: #71717a;
  --neutral-600: #52525b;
  --neutral-700: #3f3f46;
  --neutral-800: #27272a;
  --neutral-900: #18181b;

  --opacity-w-100: rgba(255, 255, 255, 0.1);
  --opacity-w-200: rgba(255, 255, 255, 0.2);
  --opacity-w-300: rgba(255, 255, 255, 0.3);

  --shadow-small: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  --shadow-min: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  --shadow-med: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  --shadow-menu: rgba(0, 0, 0, 0.18) 0px 3px 6px;
}

body {
  font-family: "Open Sans", sans-serif;
}

button,
input {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
input[type="text"],
input[type="password"] {
  cursor: text;
}

a {
  text-decoration: none;
  cursor: pointer;
}

select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1rem 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.label {
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0 0 0.5rem 0.5rem;
  font-family: "Poppins", sans-serif;
  color: var(--neutral-600);
  border-bottom: 1px solid var(--neutral-300);
}

.btn {
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 0;
  background: none;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-min);
  transition: 0.2s ease background-color;
}

.btn.solid {
  background-color: var(--purple-600);
  color: var(--neutral-50);
}
.btn.solid:hover {
  background-color: var(--purple-700);
}

.btn.ghost {
  color: var(--neutral-600);
  background-color: white;
  border: 1px solid var(--neutral-300);
  box-shadow: none;
}
.btn.ghost:hover {
  background-color: var(--neutral-200);
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
