:root {
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;

  --neutral-50: #fafafa;
  --neutral-100: #f4f4f5;
  --neutral-200: #e4e4e7;
  --neutral-300: #d4d4d8;
  --neutral-400: #a1a1aa;
  --neutral-500: #71717a;
  --neutral-600: #52525b;
  --neutral-700: #3f3f46;
  --neutral-800: #27272a;
  --neutral-900: #18181b;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
}

.btn {
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 0;
  background: none;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn.solid {
  background-color: var(--purple-600);
  color: var(--neutral-50);
}

.hidden {
  display: hidden;
  visibility: hidden;
}
