.calendar--select {
  position: relative;
  display: inline-block;
  /* margin-bottom: 15px; */
  width: 8rem;
}
.calendar--select select {
  display: inline-block;
  font-family: "Open-sans", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0.25rem 0.625rem;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 0.5rem;
  background-color: var(--opacity-w-200);
  color: white;
}
.calendar--select select:hover,
.calendar--select select:focus {
  background-color: var(--purple-600);
}
.calendar--select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.calendar--select_arrow {
  position: absolute;
  top: 0.4rem;
  right: 15px;
  width: 0px;
  height: 0px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  cursor: pointer;
  pointer-events: none;
}
.calendar--select select:hover ~ .select-arrow,
.calendar--select select:focus ~ .select-arrow {
  border-color: #000000;
}
.calendar--select select:disabled ~ .select-arrow {
  border-top-color: #cccccc;
}

/* user actions select style */
.select-primary {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-small);
}
.select-primary select {
  font-family: "Open sans", sans-serif;
  font-size: 0.875rem;
  display: inline-block;
  padding: 0.375rem 0.5rem;
  padding-right: 2rem;
  border: 2px solid var(--neutral-400);
  border-radius: 0.25rem;
  background: white;
  color: var(--neutral-500);
}

.select-primary select:hover,
.select-primary select:focus {
  color: var(--purple-500);
  border-color: var(--purple-500);
}
.select-primary select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select-arrow {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: var(--neutral-500) transparent transparent transparent;
}
.select-primary select:hover ~ .select-arrow,
.select-primary select:focus ~ .select-arrow {
  border-top-color: var(--purple-500);
}
.select-primary select:disabled ~ .select-arrow {
  border-top-color: var(--neutral-300);
}
